* {
    margin: 0;
    padding: 0;
}


html, body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    color:white;
    background: rgb(27, 17, 206);
    background: linear-gradient(2,0,3 );
   
}

.avatar {
    width: 90px;
    border-radius: 50px;
    border: 3px solid rgb(37, 35, 37);
    box-shadow: 0 0 20px rgb(255, 248, 253);
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px;
}

h2 {
    font-size: 16px;
   
}

.profile {
    margin-top: 20px;
    text-align: center;
   
}

.social{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0;
}

.social img {
    width: 33px;
}

.links-list {
    list-style: none;

}

.links-list li {
    margin: 10px 20px;
}

.links-list li a {
    display: block;
    background: white;
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(2,0,36);
    font-weight: bold;
}

.links-list li a span {
    color: grey;
    display:block;
    margin-top: 10px;
}

.links-list.second {
    margin-top: 30px;
  }